body
{
    font-size: 12px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif !important;
    color: #DBDBD5;
    text-align: justify;
    margin: 0px;    
}

input, select, textarea
{
    font-size: 12px;
    border: 1px #000000 solid;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif !important;
}