<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

<display-name>GeoRed-BackOffice</display-name>
   
	<!-- Template to Use -->
	<context-param>   
		<param-name>primefaces.THEME</param-name>
     	<param-value>redmond</param-value>
    </context-param>
    
	
	<!-- Welcome Page -->
	<welcome-file-list>	    
	    <welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	
	<!-- JSF Mapping -->
    <servlet>
    	<servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>    
    
    <!-- JSTL Config -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core_rt</taglib-uri>
            <taglib-location>/WEB-INF/tlds/jstl/c-1_0-rt.tld</taglib-location>
        </taglib>
        
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
            <taglib-location>/WEB-INF/tlds/jstl/fn.tld</taglib-location>
        </taglib>
        
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tlds/jstl/fmt-1_0-rt.tld</taglib-location>
        </taglib>
    </jsp-config>
    
</web-app>
